
<link href="https://fonts.googleapis.com/css?family=Asap:400,500,700" rel="stylesheet">

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: Asap, sans-serif;
}

body {
	background-color: #24272E;
}

.score-board {
	border: 3px solid white;
	width: 200px;
	margin: 20px auto;
	border-radius: 4px;
	text-align: center;
	color: white;
	font-size: 40px;
	padding: 15px 20px;
	font-family: Asap, sans-serif;
	position: relative; 
}

.badge {
	background: #E2584D;
	color: white;
	font-size: 14px;
	padding: 2px 18px;
	font-family: Asap, sans-serif;
}

#user-label {
	position: absolute;
	top: 30px;
	left: -25px;
}

#comp-label {
	position: absolute;
	top: 30px;
	right: -33px;
}

.Result {
	font-size: 40px;
	color: white;
}

.Result > p {
	text-align: center;
	font-weight: bold;
	font-family: Asap, sans-serif;
}

.choices {
	margin-top: 50px;
	text-align: center;
}

.choice {
	border: 2px solid white;
	border-radius: 50%;
	display: inline-block;
	padding: 15px;
	margin: 0 15px;
	transition: all 0.3s ease;
}

.choice:hover {
	cursor: pointer;
	background: #24271E;
}

#action-message {
	text-align: center;
	color: white;
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}






